body {
  margin: 0 auto;
  padding-top: 50px;
  height: 100px;
  background-color: rgb(80, 73, 87);
}
.wrapper {
  width: 300px;
  margin: auto;
}

#input {
  width: 70%;
  padding: 10px;
}

.desc {
  list-style: none;
  margin: 0;
  padding: 0;
}
#result {
  margin-bottom: 50px;
}

#btn {
  width: 78%;
  background: rgb(197, 12, 12);
  border: none;
  color: rgb(32, 22, 1);
  margin-top: 10px;
  margin-left: 0;
  padding: 10px;
  position: relative;
  z-index: 10;
  cursor: pointer;
}
.p {
  padding: 4px 8px;
  background-color: rgb(152, 202, 13);
  border: 2 px solid rgb(201, 19, 28);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 5;
  text-transform: capitalize;
}
